/* #region default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --boo-primary: #ff6900;
    --boo-offer: #fe0404;
    --boo-hilighte: #018102;
    --boo-secondary: #1a1a1a;
    --boo-lighter: #ffffff;
}

img{
    max-width: 100%;
}

/* #endregion default*/

/* #region header */

header {
    background-color: var(--boo-primary);
    display: flex;
    justify-content: space-around;
    height: 50px;
    box-shadow: 0 0 10px rgb(146, 145, 145);
    padding: 1rem 2.5rem;
    border-bottom: 2px solid rgb(163, 162, 162);
    vertical-align: middle;
    align-items: center;

    .products {
        color: var(--boo-lighter);
    }

    .logo img {
        display: block;
        width: 100px;
    }

    .icon {
        display: flex;
        gap: 10px;
        color: var(--boo-lighter);
    }

}

/* #endregion header */

/* #region main */

main{
    padding: 50px 80px;
    width: 70%;

    .samples{
        display: flex;
        flex-direction: column;
    }

    .newprice{
        color: var(--boo-offer);
    }

    img{
        height: 500px;
    }
}

.container-top figure{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-start;

}


/* #endregion main */